@inherits LayoutComponentBase

<MudThemeProvider Theme="PluginDemocracyTheme.Theme"/>
<MudDialogProvider @rendermode="InteractiveServer" />
<MudSnackbarProvider @rendermode="InteractiveServer"/>

<MudLayout >

    <TopNavBar @rendermode="InteractiveServer" />
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            <div class="PD-body pb-15" >
                @Body
            </div>
        </MudContainer>
    </MudMainContent>
    <BottomBar @rendermode="InteractiveServer" />
</MudLayout>



