@inherits LayoutComponentBase

<MudThemeProvider Theme="PluginDemocracyTheme.Theme" />
<MudDialogProvider />
<MudSnackbarProvider @rendermode="InteractiveServer"/>

<MudLayout>

    <TopNavBar @rendermode="InteractiveServer" />
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            <div class="PD-body">
                @Body
            </div>
                
        </MudContainer>
    </MudMainContent>

</MudLayout>



