@page "/"
@rendermode InteractiveServer
@inject BaseAppState AppState
@using System.Globalization
@inject Services services
@inject ISnackbar Snackbar



<PageTitle>Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">
    <div style="margin:20px; align-content:center">
        
    </div>
</MudContainer>

    